@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-toastify/dist/ReactToastify.css';

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: var(--brand-primary);

    --card: 0 0% 100%;
    --card-foreground: var(--brand-primary);

    --popover: 0 0% 100%;
    --popover-foreground: var(--brand-primary);

    --primary: var(--brand-primary);
    --primary-foreground: 0 0% 98%;

    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: var(--brand-primary);

    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;

    --accent: 240 4.8% 95.9%;
    --accent-foreground: var(--brand-primary);

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: var(--brand-primary);
    --radius: 0.5rem;

    --brand-primary: 223 31% 23%;
    --brand-secondary: 175 100% 47%;
    --brand-tertiary: 163 100% 92%;
    --brand-quaternary: 37 90% 52%;
    --brand-quinary: 335 71% 64%;

    --chart-1: var(--brand-primary);
    --chart-2: var(--brand-secondary);
    --chart-3: var(--brand-tertiary);
    --chart-4: var(--brand-quaternary);
    --chart-5: var(--brand-quinary);
  }
}

/* Base styles */
html {
  font-size: 16px;
}

body {
  line-height: 1.5;
  color: hsl(var(--foreground));
  background-color: hsl(var(--background));
}

h1 {
  font-size: 2.25rem;
  line-height: 1.1;
}

h2 {
  font-size: 2rem;
  line-height: 1.2;
}

h3 {
  font-size: 1.75rem;
  line-height: 1.3;
}

h4 {
  font-size: 1.5rem;
  line-height: 1.4;
}

h5 {
  font-size: 1.25rem;
  line-height: 1.4;
}

h6 {
  font-size: 1.1rem;
  line-height: 1.5;
}

p {
  font-size: 1rem;
  line-height: 1.6;
}

/* Medium screens (tablets) */
@media screen and (min-width: 768px) {
  html {
    font-size: 17px;
  }

  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  h3 {
    font-size: 2rem;
  }
}

/* Large screens (desktops) */
@media screen and (min-width: 1024px) {
  html {
    font-size: 18px;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2.5rem;
  }
}
